.main {
  padding-top: 4.5rem;
}

.product-container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 2fr 2fr 1fr;
}

.product-container .primary-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 4.5rem;
}
.product-container .primary-buttons-container .navigate-back {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
  color: hsl(var(--destructive));
  border-top-left-radius: var(--radius-medium);
  padding-block: 0.75rem;
  font-size: 0.9rem;
  width: fit-content;
  text-decoration: none;
  outline: none;
  font-weight: 500;
  border: none;
  font-family: var(--font-primary);
  cursor: pointer;
}

.product-container .primary-buttons-container .delete-edit-buttons-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.product-container
  .primary-buttons-container
  .delete-edit-buttons-container
  .btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: none;
  padding: 0.75em 1.5rem;
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 1rem;
  border-radius: var(--radius-medium);
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.product-container
  .primary-buttons-container
  .delete-edit-buttons-container
  .btn:hover {
  transform: scale(1.05) translateY(-3px);
}

.product-container
  .primary-buttons-container
  .delete-edit-buttons-container
  .btn:active {
  transform: scale(0.9);
}

.product-container
  .primary-buttons-container
  .delete-edit-buttons-container
  .btn.delete-product {
  background-color: hsl(var(--destructive));
  color: hsl(var(--destructive-foreground));
}

.product-container
  .primary-buttons-container
  .delete-edit-buttons-container
  .btn.edit-product {
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
}

.product-container
  .primary-buttons-container
  .delete-edit-buttons-container
  .btn
  svg {
  width: 20px;
  height: 20px;
}

.product-container .navigate-back:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.product-container .navigate-back:active {
  transform: scale(0.9);
}

.product-container .navigate-back svg {
  width: 0.9rem;
  height: 0.9rem;
}

.product-container .img-container img {
  height: 100%;
}

.product-container .details-container {
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-container .img-container .img {
  border-radius: var(--radius-medium);
}

.product-container .details-container {
  border: 1px solid hsl(var(--muted));
  padding: 1rem;
  border-radius: var(--radius-medium);
}

.product-container .details-container .title-company .title {
  margin-bottom: 0.5rem;
  color: hsl(var(--foreground));
}

.product-container .details-container .title-company .company {
  width: fit-content;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.25rem 0.5rem;
  background-color: hsl(var(--muted));
  color: hsl(var(--muted-foreground));
  border-radius: var(--radius-small);
}

.product-container .details-container .rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.product-container .details-container .rating .star-rating-average {
  font-weight: 500;
  color: hsl(var(--foreground));
}

.product-container .details-container .rating .rating-total {
  font-weight: 300;
  font-size: 0.9rem;
  color: hsl(var(--foreground));
  margin-left: auto;
}

.product-container .details-container .price {
  font-weight: 500;
  font-size: 1.7rem;
  color: hsl(var(--foreground));
}

.product-container .details-container .price span:last-child {
  font-size: 1rem;
}

.product-container .details-container .description,
.product-container .details-container .colors {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 1rem;
  border-top: 1px solid hsl(var(--muted));
  color: hsl(var(--foreground));
}

.product-container .details-container .colors {
  border: none;
}

.product-container .details-container .description-title,
.product-container .details-container .colors-title {
  font-weight: 500;
  font-size: 1.1rem;
}

.product-container .details-container .description-text {
  font-size: 0.9rem;
}

.product-container .details-container .colors-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-top: 1px solid hsl(var(--muted));
}

.product-container .details-container .colors-buttons {
  display: flex;
  gap: 0.5rem;
}

.product-container .details-container .colors-buttons .btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid hsl(var(--muted));
  cursor: pointer;
}

.product-container .details-container .colors-buttons .btn.focused {
  box-shadow: hsl(var(--primary)) 0px 1px 4px,
    hsl(var(--primary)) 0px 0px 0px 3px;
  transition: all 0.3s;
}

.product-container .details-container .colors-buttons .btn:active {
  transform: scale(0.98);
}

.product-container .details-container .btn.add-new-colors {
  border: none;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: hsl(var(--secondary));
  color: hsl(var(--secondary-foreground));
  border: 1px solid hsl(var(--secondary-foreground));
  font-family: var(--font-primary);
  font-size: 0.9rem;
  border-radius: var(--radius-medium);
  font-weight: 500;
  transition: all 0.3s ease-out;
}

.product-container .details-container .btn.add-new-colors:hover {
  background-color: hsl(var(--secondary-foreground));
  color: hsl(var(--secondary));
  border: 1px solid hsl(var(--secondary));
  transform: scale(1.05);
}

.product-container .details-container .btn.add-new-colors:active {
  transform: scale(0.9);
}

.product-container .details-container .btn.add-new-colors svg {
  width: 18px;
  height: 18px;
}

.product-container .checkout-container {
  border: 1px solid hsl(var(--muted));
  background-color: hsl(var(--muted));
  padding: 1rem;
  border-radius: var(--radius-medium);
  display: flex;
  flex-direction: column;
  grid-row: span 2;
  max-height: 67dvh;
}

.product-container .checkout-container .title {
  margin-bottom: 1.5rem;
  color: hsl(var(--foreground));
  text-align: center;
}

.product-container .checkout-container .checkout-p {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 0.9rem;
  font-weight: 500;
  padding-block: 1rem;
  border-bottom: 1px solid hsl(var(--border));
  color: hsl(var(--foreground));
}

.product-container .checkout-container .checkout-p > div:first-child {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.product-container .checkout-container .checkout-p > div:first-child svg {
  width: 16px;
  height: 16px;
  stroke-width: 2px;
  stroke: hsl(var(--foreground));
}

.product-container .checkout-container .checkout-p span {
  font-size: 0.8rem;
  font-weight: 300;
}

.product-container .checkout-container .checkout-p span.out-of-stock {
  width: fit-content;
  background-color: hsl(var(--destructive));
  color: hsl(var(--destructive-foreground));
  padding: 0.25rem 0.5rem;
  border-radius: 50px;
}

.product-container .checkout-container .quantity {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.product-container .checkout-container .quantity .quantity-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: flex-end;
}

.product-container
  .checkout-container
  .quantity
  .quantity-controls
  .quantity-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.product-container
  .checkout-container
  .quantity
  .quantity-controls
  .quantity-button:active {
  transform: scale(0.9);
}

.product-container
  .checkout-container
  .quantity
  .quantity-controls
  .quantity-button
  svg {
  display: inline-block;
  width: 24px;
  height: 24px;
  stroke: hsl(var(--foreground));
}

.checkout-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: auto;
}

.total-price {
  margin-top: 2rem;
}

.total-price div:first-child > p {
  font-size: 1.1rem;
}

.total-price .total-value span:first-child {
  font-size: 1.1rem;
  font-weight: 500;
}

.total-price .total-value span:last-child {
  font-size: 0.8rem;
  font-weight: 500;
}

.product-container .checkout-container .primary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 0.75rem;
  background-color: transparent;
  border: none;
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 600;
  border-radius: var(--radius-small);
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.product-container .checkout-container .primary-button {
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
  border: 1px solid hsl(var(--primary));
}

.product-container .checkout-container .primary-button svg {
  width: 18px;
  height: 18px;
  stroke-width: 2px;
  stroke: hsl(var(--primary-foreground));
}

.product-container .checkout-container .primary-button:active {
  transform: scale(0.9);
}

.product-container .checkout-container .primary-button:hover {
  transform: translateY(-5px);
  filter: saturate(0.8);
}

.product-container .reviews-container {
  grid-column: span 2;
  border: 1px solid hsl(var(--muted));
  padding: 1rem;
  border-radius: var(--radius-medium);
}

.product-container .reviews-container .title-and-rating {
  display: flex;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.product-container .reviews-container .title {
  color: hsl(var(--foreground));
}

.product-container .reviews-container .rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.product-container .reviews-container .rating .star-rating-average {
  font-weight: 500;
  color: hsl(var(--foreground));
}

.product-container .reviews-container .reviews-total {
  font-weight: 500;
  color: hsl(var(--foreground));
  margin-left: auto;
  line-height: 32px;
}

.product-container .reviews-container .comments-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-container .reviews-container .comments-container .review {
  border-bottom: 1px solid hsl(var(--muted));
  padding-block: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-container
  .reviews-container
  .comments-container
  .review
  .icon-name-parent {
  display: flex;
  gap: 1rem;
}

.product-container .reviews-container .comments-container .review svg {
  width: 40px;
  height: 40px;
  stroke: hsl(var(--primary));
}

.product-container .reviews-container .comments-container .review p {
  font-size: 0.9rem;
  color: hsl(var(--foreground));
  font-weight: 300;
  /* text-align: center; */
  line-height: 40px;
}

.product-container .reviews-container .comments-container .ratings-comments {
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: space-between;
}

.product-container
  .reviews-container
  .comments-container
  .ratings-comments
  .rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.missing-reviews {
  color: hsl(var(--foreground));
  text-align: center;
  
}